/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95859245;
    padding: 10px 20px;
    color: hwb(295 5% 51% / 0.819);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 80px;
    margin-right: 10px;
}

header .logo h1 {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: hwb(295 5% 51% / 0.819);
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #d7be2e;
}

/* Main Content */
main {
    padding: 50px;
    text-align: center;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    padding: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}